/config/default-0.json
/nbproject/
/public/favicon.ico
/.Trash-1000/
/node_modules/
/bower_components/
/public/images/reddit/
/public/images/weather/
/etc/
/src/
/user_images/*
/build/
/config/default.json