::-webkit-scrollbar { 
    display: none; 
}
html,body{
	background-color:black;
	height: 100%;
}

#headerText{
	color:#81b935;
}
#slideName{
	color:#DDD;
}

.time{
	color:#DDD;
}
.slide{

	height:100%;
}
.weather{
    display:block;
    width:100%;
    height:40vh;
    background-size:110% !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}
.webcamDesc{
    padding-top:20px;
}
#slideUrl{
	border: 0px;
	width:100%;
	height:100%;
}
.slideImg{
	background-color:white;
	width:100%;
	height:100%;
	background-size:75% !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;

}
#slideReddit{

	width:100%;
	height:100%;
	background-size:90% !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}
.alertMessage{
    margin-top:25px !important;
}
.alertText{
	color: red;
	font-family: sans-serif;
	margin-top: 0px;
}
