{
    "features":{
        "rpi": false,
        "weather": false,
        "reddit": true,
        "webAdmin":false
    },
	"settings":{
		"kiosk":{
			"name": "OKC",
			"seconds": 60,
			"slides": [
            {
                "name": "Reddit",
				"sourceType": "reddit",
                "source": "pics"
            },
            {
                "name": "NPR",
				"sourceType": "url",
                "source":"http://www.npr.org/sections/news/"
            },
            {
                "name": "Tech News",
				"sourceType": "url",
                "source":"http://www.theverge.com/tech"
            },
			{
				"name": "Reddit",
				"sourceType": "reddit",
				"source": "osha"
			},
			{
				"name": "Funny Pics 1",
				"sourceType": "folder",
				"source": "funny1"
			}
			]
		},
		"server":{
			"port":3000,
            "logLevel":"info"
		},
		"features":{
			"weather":{
				"key": "",
				"state": "CA",
				"city": "LA",
				"refresh": 920
			},
			"reddit":{
				"subreddit": ["osha","pics"],
				"limit":20,
				"listing":"hot",
				"refresh": 1820  
			},
			"webAdmin":{
				"db": {
					"host": "localhost",
					"port":  27017,
					"db": "navapp"
				}
			}
		}
    }
}